node_modules
playground
dev.env
test.env
docs
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# More Elastic Beanstalk config
.ebignore
.npmrc
